Package                            Version     
---------------------------------- ------------
bdpy                               0.19
Cython                             0.29.13
glob2                              0.7
h5py                               2.10.0
ipython                            7.16.1
Zjoblib                             0.13.2
json5                              0.8.5       
jupyter                            1.0.0
jupyter-client                     5.3.3       
jupyter-console                    6.2.0       
jupyter-core                       4.5.0       
jupyterlab                         1.1.4       
jupyterlab-server                  1.0.6       
matplotlib                         3.3.4
numpy                              1.19.5
openpyxl                           3.0.0
pandas                             0.25.1
patsy                              0.5.1
pip                                19.2.3
scikit-learn                       0.24.1
scipy                              1.5.3       
seaborn                            0.9.0       
simplejson                         3.17.2
statsmodels                        0.10.1
tqdm                               4.36.1
xlrd                               1.2.0
XlsxWriter                         1.2.1

